{% extends 'app1/userHome.html' %}

{% block content %}
  <form class="form-horizontal" method="POST" style="display: flex; justify-content: center;">
  {% csrf_token %}  
  <div class="form-group" style="padding-left: 50px; padding-right: 50px;">
    <div class="row">
        <h4> CHANGE YOUR PASSWORD </h4>
    </div>

    <div class="form-group">
        {{ form.current}}
        <!--<input type="password" placeholder="Current Password" class="form-control"></input> -->
    </div>

    <div class="form-group">
        {{ form.new }}
       <!-- <input type="password" placeholder="New Password" class="form-control"></input> -->
    </div>

    <div class="form-group">
        {{ form.reenter }}
       <!-- <input type="password" placeholder="Re-enter Password" class="form-control"></input> -->
    </div>

    <div class="form-group">         
        <input type="submit" value="SUBMIT" class="form-control btn btn-success"></input>
    </div>
    
  </div>
</form>
  

{% endblock content %}